<h2>Edit Contact</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{updatedContact.name}}</td>
            <td><input class="form-control" ng-model="updatedContact.phone"/></td>
            <td><input class="form-control" ng-model="updatedContact.email"/></td>
            <td><button class="button btn-primary" ng-click="updateContact()">Update</button></td>
        </tr>
    </tbody>
</table>